{% extends "base.html" %}

{% block the_body %}
 <h2>Welcome to Word Game 4!!</h2>
        <h3>How to play...</h3>
                <p> You are provided with a word of eight letters or more which$
                <br>You are to think up seven 4-or-more letter words made up fr$
                <br>
                <ol>
                        <li>Each word is only made up from the letters containe$
                        <li>You haven't reused any letter more times that it ap$
                        <li>Each word exists within the dictionary (i.e., it's $
                        <li>The words all have four letters or more.</li>
                        <li>There are no duplicate words.</li>
                        <li>None of the seven words is the source word.</li>
                </ol>
                <b>Note:</b> case is NOT significiant (i.e., This, THIS, and th$
                <br><br>
                <a href="{{ url_for('show_play_screen') }}">
	 	  <button>Let's Play</button>
                </a><br><br>
                <a href="{{ url_for('show_log') }}">
                 <button>Display Log</button>
                </a><br><br>
                See the top Ten leaderboard <a href="{{ url_for('show_top10') }}">here</a>.
                </p>
{% endblock %}

